    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
    }

    body{
      font-family:'Segoe UI',sans-serif;
      background:#eef2f7;
      padding:40px;
      color:#1f2937;
    }

    .container{
      max-width:1200px;
      margin:auto;
    }

    .titulo{
      font-size:38px;
      font-weight:800;
      color:#163845;
      margin-bottom:30px;
    }

    .card{
      background:white;
      padding:30px;
      border-radius:22px;
      margin-bottom:25px;

      border:1px solid #e6ecf2;

      box-shadow:
      0 4px 10px rgba(15,23,42,.04),
      0 12px 25px rgba(15,23,42,.06);
    }

    .card h2{
      font-size:24px;
      margin-bottom:25px;
      color:#163845;

      border-bottom:1px solid #edf2f7;
      padding-bottom:12px;
    }

    .linha{
      margin-bottom:16px;
    }

    .linha strong{
      color:#163845;
    }

    .voltar{
      margin-top:30px;

      width:220px;
      height:52px;

      border:none;
      border-radius:16px;

      background:linear-gradient(
        90deg,
        #1f7a68,
        #2c8c7c
      );

      color:white;

      font-size:15px;
      font-weight:700;

      cursor:pointer;

/* =========================================
   CARDS DE ALERTA (DASHBOARD)
========================================= */
.dashboard-alerts {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar linha em telas menores */
  gap: 15px;
  margin-bottom: 25px;
}

.alert-card {
  flex: 1; /* Faz os cards dividirem o espaço igualmente */
  min-width: 200px; /* Evita que fiquem espremidos no celular */
  padding: 18px 20px;
  border-radius: 12px;
  color: rgb(12, 10, 10);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.alert-card h3 {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.alert-card p {
  font-size: 13px;
  line-height: 1.4;
  opacity: 0.95;
  margin: 0;
}

/* Cores Baseadas na sua imagem */
.bg-red {
  background: linear-gradient(135deg, #b91c1c, #991b1b);
}

.bg-orange {
  background: linear-gradient(135deg, #f59e0b, #d97706);
}

.bg-green {
  background: linear-gradient(135deg, #10b981, #059669);
}

    }
